extends base

block vars
  - var title = 'Home'

block body
  h1 Authentication Example
  p.
    Welcome to this authentification demonstration. This is the homepage. Please #[a(href="/register") Register] or #[a(href="/login") Login] to continue.
